<div class="container mt-2">
    <h2 class="text-center">Gráfico</h2>
    <div class="row mt-4">
        <div class="col">
            <!-- INPUTS PARA EL TIPO DE INFORMACION -->
            <select class="form-select form-select-sm" [(ngModel)]="selectTipoData">
                <option value="a" [selected]="true">Selecciona el tipo de informacion</option>
                <option value="Morbilidad_Adolescente">Morbilidad</option>
                <option value="Riesgo_Adolescente">Riesgo</option>
                <option value="Tamizaje_Adolescente">Tamizaje</option>
            </select>
        </div>
        <div class="col">
            <!-- INPUTS PARA EL DEPARTAMENTO -->
            <select class="form-select form-select-sm" [(ngModel)]="selectDepartamento" aria-label="Default select example">
                <option value="a" selected>Selecciona un departamento</option>
                <option value="ANCASH">Ancash</option>
                <option value="APURIMAC">Apurimac</option>
                <option value="AREQUIPA">Arequipa</option>
                <option value="AYACUCHO">Ayacucho</option>
                <option value="CAJAMARCA">Cajamarca</option>
                <option value="CALLAO">Callao</option>
                <option value="CUSCO">Cusco</option>
                <option value="HUANCAVELICA">Huancavelica</option>
                <option value="HUANUCO">Huanuco</option>
                <option value="ICA">Ica</option>
                <option value="JUNIN">Junin</option>
                <option value="LA LIBERTAD">La Libertad</option>
                <option value="LAMBAYEQUE">Lambayeque</option>
                <option value="LIMA">Lima</option>
                <option value="LORETO">Loreto</option>
                <option value="MADRE DE DIOS">Madre de Dios</option>
                <option value="MOQUEGUA">Moquegua</option>
                <option value="PASCO">Pasco</option>
                <option value="PIURA">Piura</option>
                <option value="PUNO">Puno</option>
                <option value="SAN MARTIN">San Martin</option>
                <option value="TACNA">Tacna</option>
                <option value="UCAYALI">Ucayali</option>
            </select>
        </div>
        <div class="col">
            <!-- INPUTS PARA EL SEXO -->
            <select class="form-select form-select-sm" [(ngModel)]="selectSexo" aria-label="Default select example">
                <option value="a" selected>Selecciona tu sexo</option>
                <option value="M">Hombre</option>
                <option value="F">Mujer</option>
            </select>
        </div>
    </div>
    <!-- BOTON PARA LLAMAR A LA FUNCION -->
    <div class="col-auto mt-3 text-center">
        <button type="button" class="btn btn-secondary" (click)="construirGrafico()">Filtrar</button>
    </div>
    <div>
        <!-- COMPONENTE GRAFICO -->
        <div class="row">
            <div class="col">
                <div class="mt-4">
                    <!-- GRAFICO -->
                    <highcharts-chart 
                    [Highcharts]="Highcharts"
                    [options]="chart">
                    </highcharts-chart>
                </div>
            </div>
        </div>
    </div>
</div>
