<div class="container mt-5">
    <div class="row">
        <div class="col">
            <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="selectTipoData">
                <option selected>Selecciona el tipo de informacion</option>
                <option value=0>Morbilidad</option>
                <option value=1>Riesgo</option>
                <option value=2>Tamizaje</option>
            </select>
        </div>
        <div class="col">
            <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="selectDepartamento">
                <option selected>Selecciona un departamento</option>
                <option value="ANCASH">Ancash</option>
                <option value="APURIMAC">Apurimac</option>
                <option value="AREQUIPA">Arequipa</option>
                <option value="AYACUCHO">Ayacucho</option>
                <option value="CAJAMARCA">Cajamarca</option>
                <option value="CALLAO">Callao</option>
                <option value="CUSCO">Cusco</option>
                <option value="HUANCAVELICA">Huancavelica</option>
                <option value="HUANUCO">Huanuco</option>
                <option value="ICA">Ica</option>
                <option value="JUNIN">Junin</option>
                <option value="LA LIBERTAD">La Libertad</option>
                <option value="LAMBAYEQUE">Lambayeque</option>
                <option value="LIMA">Lima</option>
                <option value="LORETO">Loreto</option>
                <option value="MADRE DE DIOS">Madre de Dios</option>
                <option value="MOQUEGUA">Moquegua</option>
                <option value="PASCO">Pasco</option>
                <option value="PIURA">Piura</option>
                <option value="PUNO">Puno</option>
                <option value="SAN MARTIN">San Martin</option>
                <option value="TACNA">Tacna</option>
                <option value="UCAYALI">Ucayali</option>
            </select>
        </div>
        <div class="col">
            <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="selectSexo">
                <option selected>Selecciona tu sexo</option>
                <option value="M">Hombre</option>
                <option value="F">Mujer</option>
            </select>
        </div>
    </div>
    <div class="col-auto mt-3 text-center">
        <button (click)="enviarData()" type="button" class="btn btn-secondary">Filtrar</button>
    </div>
    <div>
        <app-grafico> </app-grafico>
    </div>
</div>
