<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Datos oficiales sobre morbilidad, riesgo y tamizaje en adolescentes</h1>
                    <p class="lead text-white-50 mb-4">Estar siempre informados es la mejor manera de proteger a los que queremos</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/filtros">Ingresar como invitado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Morbilidad</h2>
                <p>Cantidad de personas que enferman en un lugar y un período de tiempo determinados en relación con el total de la población. Este recurso muestra los casos diagnosticados por rango de edades entre los meses de enero y la quincena de setiembre del 2017.</p>
                <a class="text-decoration-none" href="https://www.datosabiertos.gob.pe/dataset/minsa-adolescentes/resource/b4b5d0e6-4619-46fe-9f4d-22c4ec20547e">
                    Ver fuente
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Riesgo</h2>
                <p>Riesgos identificados en los casos atendidos en los adolescentes de acuerdo al rango de edad. Destacan riesgos por conducta sexual de alto riesgo o problemas relacionados a sustancias circunstanciales. Este recurso esta evaluado entre enero y quincena de setiembre de 2017</p>
                <a class="text-decoration-none" href="https://www.datosabiertos.gob.pe/dataset/minsa-adolescentes/resource/44cbeaea-ac9d-42a3-b2e9-288444685cfc">
                    Ver fuente
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Tamizaje</h2>
                <p>Las pruebas de tamizaje son mediciones para establecer quién puede padecer cierta enfermedad y quién no, en cualquier momento de la vida de un ser humano. En este recurso se señala el diagnóstico del tamizaje de los adolescentes evaluados entre enero y quincena de setiembre de 2017</p>
                <a class="text-decoration-none" href="https://www.datosabiertos.gob.pe/dataset/minsa-adolescentes/resource/3491128c-da67-4a8f-a99b-881bcd6ccaea">
                    Ver fuente
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
