<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-auto">
            <form [formGroup]="formLogin" (submit)="send()">
                <!-- INPUT EMAIL-->
                <div class="mb-3">
                    <label for="email" class="form-label">Username</label>
                    <input type="text" id="email" formControlName="username" class="form-control">
                </div>
                <!-- INPUT PASSWORD-->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control">
                </div>
                <div>
                    <button [disabled]="formLogin.invalid" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
