<div class="container mt-5 ml-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
                <a routerLink="/analisis" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                  <span class="fs-4">Opciones</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a routerLink="/analisis" class="nav-link text-white" aria-current="page">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                      Gráfico
                    </a>
                  </li>
                  <li>
                    <a routerLink="/analisis/tabla" class="nav-link text-white">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                      Tabla
                    </a>
                  </li>
                  <li>
                    <a routerLink="/analisis/mapa" class="nav-link text-white">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                      Mapa
                    </a>
                  </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col-lg-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

